body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #cecece
}

html {
    height: 100%;
}

#box {
    display: flex;
    justify-content: center;
    height: 100%;
}

#centered-text {
    display: inline-block;
    align-self: center;
}

#centered-text h1, p, a, a:active, a:hover {
    text-align: center;
}