* {
	margin: 0px;
	padding: 0px;
}

header h1 {
	background-color: darkgrey;
	color: white;
	padding: 5px;
	margin-bottom: 5px;
}

nav {
	float: left;
	margin-left: 5px;
}

nav li{
	list-style-type: none;	
}


nav a {
	text-decoration: none;
	width: 110px;
	color: black;
	background-color: #cecece;
	padding: 10px;
	border-bottom: 1px solid white;
	display: block;
}

nav a:hover {
	background-color: white;
}

section {
	border-left: 2px solid black;
	padding-left: 5px;
	margin-left: 140px;
}

footer {
	background-color: darkgray;
	color: white;
	padding: 5px;
	margin-top: 5px;
}