body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCE1DE;
    font-family: 'Open Sans';
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.center-container .icon{
    transform: translate(-125.39px);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(10%);
}

.actual-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.target-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}